# dependencies
node_modules
.pnp
.pnp.js
!jest.config.js

# testing
coverage
test-results*

# next.js
.next/
out

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .NET Binaries
bin
obj

# AWS SAM
.aws-sam

# CDK asset staging directory
.cdk.staging
cdk.out

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# dev dir
dev/
.env
**/__pycache__/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper


# DotCover is a Code Coverage Tool
*.dotCover

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings


# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# NuGet Package Manager
packages/
!packages/repositories.config
project.lock.json
TestResult.xml
.vs/
*.targets
/.vscode

# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JetBrains
.idea/
.idea/.idea.FitBuddy/.idea

.npm

#virtual env
.venv/
session-manager-plugin.deb

.nx
session-manager-plugin.rpm

*.env

